In [1]:
import auto_broccoli as broc

### On it's own, it generates a sample dataset

In [2]:
# Fake generated data
ab = broc.AutoBroccoli()

In [3]:
ab.df.head()

,active,buyer_type,content_type,date,duration_percent,impressions,nice_person,user_id,visits
0,False,me,youtube,2018-03-09 22:02:16,0.753197,1,Y,michaelhunter@gmail.com,306
1,False,friend,social media,2018-03-21 11:42:46,0.596238,1,Y,gbruce@blair.com,358
2,True,other,social media,2018-03-17 13:07:50,0.642176,1,N,denisecampos@smith.org,309
3,True,me,social media,2018-03-15 03:23:34,0.285274,4,N,george67@hotmail.com,451
4,True,friend,newspaper,2018-03-31 13:33:31,0.307920,5,Y,yrivera@yahoo.com,676